$grey0: #c0c4c9;
$primary: #ff9926;
$dark: #1a1d1f;
$white: #ffffff;
$lightestGrey: #f4f4f4;

.pagination-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pagination-component-not {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.pagination-component .show-results {
  display: flex;
  gap: 12px;
  align-items: center;
}

.pagination-component .result {
  font-size: 14px;
}

.pagination-component .dropdown-box {
  border-radius: 8px;
  border: 1px solid $grey0;
  width: 60px;
  height: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  i {
    font-size: 16px;
  }
}

.pagination-component .dropdown-menu {
  min-width: 60px;
}

.pagination {
  gap: 5px;
  margin-bottom: 0;
  display: flex;
  li {
    list-style: none;
  }

  .active > .page-link,
  .active > .page-link:hover {
    background-color: $primary !important;
    border-color: $primary !important;
    font-weight: 600;
    color: $white;
  }
}

.page-link,
.page-link:hover,
.page-link:active,
.page-link:focus {
  color: $dark;
  box-shadow: none;
}

.circular-button {
  min-width: 40px;
  height: 40px;
  border-radius: 50% !important;
  background-color: $lightestGrey;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  box-shadow: none;
}

.side {
  border: 1px solid $grey0;
  background-color: $white;
}

.page-item:disabled,
.page-link:disabled {
  background-color: $lightestGrey !important;
}

.circular-button i {
  margin-top: 3px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .pagination-component {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100vw !important;
    padding-left: 10px;
  }

  .pagination-component .show-results {
    margin-top: 10px;
  }

  .pagination-component .dropdown-box {
    width: auto;
  }

  .pagination-component .pagination {
    flex-wrap: wrap;
  }

  .pagination-component .page-item {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.text-bold-dark {
  color: #333;
  font-weight: 500;
}
@media (min-width: 200px) and (max-width: 900px) {
  .pagination-component .dropdown-box {
    padding: 0 10px;
  }
}

// .dropdown-menu {
//   li {
//     list-style: none;
//     button {
//       background: none;
//       border: none;
//     }
//   }
// }
.pagination-component,
.show-results {
  overflow: visible !important;
  li {
    button {
      cursor: pointer;
    }
  }
}
.dropdown {
  position: relative;
  display: block;
  overflow: visible !important;
}
.dropdown-box {
  overflow: visible !important;
  display: flex;
  gap: 6px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: -147px;
  overflow: visible !important;
  z-index: 1000;
  display: block;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
  list-style: none;
}

.dropdown-item {
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
